<div id="<%= dom_id character_sheet %>">
  <p>
    <strong>Name:</strong>
    <%= character_sheet.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= character_sheet.description %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= character_sheet.data %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= character_sheet.temp %>
  </p>

  <p>
    <strong>Creation step:</strong>
    <%= character_sheet.creation_step %>
  </p>

  <p>
    <strong>Levelling up:</strong>
    <%= character_sheet.levelling_up %>
  </p>

</div>
